#### **Importimi i librarive*

In [2]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, accuracy_score, roc_auc_score

#### Ngarkimi i datasetit

In [6]:
# Ngarkimi i datasetit nga csv file per analize.
dataset_kryesor = pd.read_csv('data/DatasetKryesor.csv', encoding='latin1')

#### Numrimi i rreshtave dhe atributeve ne dataset

In [ ]:
# Dimensionet e dataset
dataset_kryesor.shape

(54161, 13)

#### Paraqitja e atributeve te dataset

In [ ]:
# atributet e dataset
dataset_kryesor.columns

Index(['Spitali', 'NjesiaReparti', 'Numri', 'Shenim', 'DataRegjistrimit',
       'Artikulli', 'ArtikulliLloji', 'RrugaMarrjes', 'Sasia', 'Cmimi',
       'Vlera', 'OperatoriEkonomik', 'LlojiHyrjes'],
      dtype='object')

#### Rreshtat e pare te dataset

In [ ]:
# Paraqitja e pese rreshtave te pare te dataset
dataset_kryesor.head()

,Spitali,NjesiaReparti,Numri,Shenim,DataRegjistrimit,Artikulli,ArtikulliLloji,RrugaMarrjes,Sasia,Cmimi,Vlera,OperatoriEkonomik,LlojiHyrjes
0,Spitali 4,Njesia e Gjinekologjisë me Obstetrikë,125/2024,Dalje,2024-01-23 00:00:00.000,B05XA03 - Natrium chloride 0.9%/500ml - Solut...,Barna,INTRAVENOUS USE,20.0,0.36,7.20,OE 5,Grant qeveritar
1,Spitali 4,Njesia e Gjinekologjisë me Obstetrikë,297/2024,Dalje,2024-02-16 00:00:00.000,B05XA03 - Natrium chloride 0.9%/500ml - Solut...,Barna,INTRAVENOUS USE,20.0,0.36,7.20,OE 5,Grant qeveritar
2,Spitali 4,Njesia e Gjinekologjisë me Obstetrikë,231/2024,Dalje,2024-02-06 00:00:00.000,G02AD06 - Misoprostol 200 mcg - Tabletë,Barna,//,42.0,0.28,11.76,OE 4,Grant qeveritar
3,Spitali 4,Njesia e Gjinekologjisë me Obstetrikë,538/2024,Dalje,2024-03-27 00:00:00.000,G02AD06 - Misoprostol 200 mcg - Tabletë,Barna,//,42.0,0.28,11.76,OE 4,Grant qeveritar
4,Spitali 4,Njesia e Gjinekologjisë me Obstetrikë,779/2024,Dalje,2024-05-02 00:00:00.000,S02BA06 - Dexamethasone 4mg/ml - Ampullë,Barna,INTRAMUSCULAR AND INTRAVENOUS USE,10.0,0.09,0.90,OE 28,Grant qeveritar

### Tipet e te dhenave per atribute

In [10]:
# Tipet e te dhenave
dataset_kryesor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54161 entries, 0 to 54160
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Spitali            54161 non-null  object
 1   NjesiaReparti      54161 non-null  object
 2   Numri              54161 non-null  object
 3   Shenim             54161 non-null  object
 4   DataRegjistrimit   54161 non-null  object
 5   Artikulli          54160 non-null  object
 6   ArtikulliLloji     54161 non-null  object
 7   RrugaMarrjes       54161 non-null  object
 8   Sasia              54128 non-null  float64
 9   Cmimi              54128 non-null  float64
 10  Vlera              54131 non-null  float64
 11  OperatoriEkonomik  54161 non-null  object
 12  LlojiHyrjes        54161 non-null  object
dtypes: float64(3), object(10)
memory usage: 5.4+ MB

#### Vlerat NULL

In [11]:
# Checking for missing data in all columns
missing_data = dataset_kryesor.isnull().sum()

print("Missing data in each column:")
print(missing_data)

Missing data in each column:
Spitali               0
NjesiaReparti         0
Numri                 0
Shenim                0
DataRegjistrimit      0
Artikulli             1
ArtikulliLloji        0
RrugaMarrjes          0
Sasia                33
Cmimi                33
Vlera                30
OperatoriEkonomik     0
LlojiHyrjes           0
dtype: int64